body
{
    background: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#box-login
{
    width: 370px;
    height: 420px;
    position: absolute;
    left: 43%;
    top: 200px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

#box-login h2
{
    color: white;
    font-size: 40px;

}
#box-login p
{
    position: absolute;
    top: 340px;
    left: 35px;
    color: white;
}
#box-login a
{
    text-decoration: none;
    color: rgba(255, 46, 49, .999);
}

input[type=text]
{
    border-radius: 25px;
    width: 285px;
    height: 40px;
    margin-bottom: 30px;
    position: absolute;
    left: 30px;
    top: 120px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-left: 15px;
}
input[type=password]
{
    border-radius: 25px;
    width: 285px;
    height: 40px;
    margin-bottom: 30px;
    position: absolute;
    left: 30px;
    top: 190px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-left: 15px;
}

input[type=submit]
{
    border-radius: 25px;
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    position: absolute;
    left: 34px;
    top: 270px;
    background-color: rgba(255, 46, 49, .5);
    color: #ccc;
    cursor: pointer;
}
input[type=submit]:hover
{
    background-color: rgba(0, 0, 0, .5);

}

::placeholder
{

    padding-left: 5px;
    font-size: 16px;
}

#ico
{
    font-size: 6em;
    position: absolute;
    top: -100px;
    left: 150px;

}

